h1, h2 {
    font-family: sans-serif;
    font-weight: normal;
}
p {
   font-family: sans-serif;
  }
a {font-family: sans-serif;}
img {
  max-width: 100%;
  height: auto;}
/* GitHub, you better get the img css rule update. */